/.vscode/*
/.VSCodeCounter/*
/.vs/*

/.sourcetrail/*
/.venv/*

**/__pycache__/**

/build/*

/config/*
!/config/default/

/data/imgui.ini
/data/logs/*

/data/profile/*
!/data/profile/README.md

/data/saves/*
!/data/saves/.dev/

/packages/*

assets/audio/music/Alix Perez - Burning Babylon.mp3
