**/.vscode/**
/.VSCodeCounter/*

/.venv/*
**/__pycache__/**

/.mypy_cache/*

/build/*
/config/*

/data/imgui.ini
/data/logs/*
/data/saves/*
/data/screenshots/*

/data/profile/*
!/data/profile/README.md

/packages/*

assets/audio/music/Alix Perez - Burning Babylon.mp3
