/.vscode/*
/.VSCodeCounter/*
/.vs/*
/.venv/*
/.sourcetrail/*

/build/*

/config/*
!/config/default/

/data/imgui.ini
/data/logs/*

/data/profile/*
!/data/profile/README.md

/data/saves/*
!/data/saves/.dev/

/packages/*

**/__pycache__/**

assets/audio/music/Alix Perez - Burning Babylon.mp3
